// neutron colors
$color-black:             #141414;
$color-grey-1:            #424242;
$color-grey-2:            #6b6b6b;
$color-grey-3:            #949494;
$color-grey-4:            #b8b8b8;
$color-grey-5:            #d4d4d4;
$color-grey-6:            #eaeaea;
$color-grey-7:            #f2f2f2;
$color-grey-8:            #f8f8f8;
$color-grey-9:            #fcfcfc;
$color-white:             #fff;

$color-shadow:            rgba($color-black, .1);
$color-shadow--highlight: rgba($color-black, .125);

// saturn colors
// 1
$color-blue-1:            #636ff7;
$color-cyan-1:            #12b2b2;
$color-green-1:           #1fc47a;
$color-orange-1:          #f7b100;
$color-red-1:             #de3e73;
$color-violet-1:          #bf69f0;
$color-yellow-1:          #ffcf30;
// 2
$color-blue-2:            #c7ccff;
$color-cyan-2:            #cffaf6;
$color-green-2:           #cbf7e1;
$color-orange-2:          #ffeaa6;
$color-red-2:             #ffd1e0;
$color-violet-2:          #f0d6ff;
$color-yellow-2:          #ffebad;
