// mobile first
@mixin media-query($size) {
  @if $size == ultrawide {
    @media (min-width: $breakpoint-ultrawide) { @content; }
  }
  @if $size == widescreen {
    @media (min-width: $breakpoint-widescreen) { @content; }
  }
  @if $size == desktop {
    @media (min-width: $breakpoint-desktop) { @content; }
  }
  @if $size == tablet {
    @media (min-width: $breakpoint-tablet) { @content; }
  }
}

@mixin media-query-down($size) {
  @if $size == widescreen {
    @media (max-width: $breakpoint-widescreen - 1px) { @content; }
  }
  @if $size == desktop {
    @media (max-width: $breakpoint-desktop - 1px) { @content; }
  }
  @if $size == tablet {
    @media (max-width: $breakpoint-tablet - 1px) { @content; }
  }
  @if $size == mobile {
    @media (max-width: $breakpoint-mobile - 1px) { @content; }
  }
}

@mixin box-shadow($variant: '') {
  box-shadow: 0 1px 9px $color-shadow;
  @if $variant == highlight {
    box-shadow: 0 1px 24px $color-shadow--highlight;
  }
  @if $variant == heavy {
    box-shadow: 0 1px 6px rgba($color-black, 0.2);
  }
  transition: box-shadow $transition-time;
}

@mixin mobile-scroll() {
  @include media-query-down(tablet) {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none; // scss-lint:disable PropertySpelling

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@mixin explode-to-max-width() {
  @include media-query(widescreen) {
    $shift: '50% + #{$page-sidebar-width + $space-l} - 50vw';
    width: calc(100% - 2 * (#{$shift}));
    margin-right: calc(#{$shift});
  }

  @include media-query(ultrawide) {
    $shift: '50% + #{$page-sidebar-width + $space-l - $breakpoint-ultrawide / 2}';
    width: calc(100% - 2 * (#{$shift}));
    margin-right: calc(#{$shift});
  }
}

@mixin text-link($color: $color-blue-1) {
  color: $color;
  cursor: pointer;
  border-bottom: 1px solid rgba($color, 0.5);

  &:hover {
    border-bottom-color: $color;
  }
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
