// mobile first
@mixin media-query($size) {
  @if $size == widescreen {
    @media (min-width: $breakpoint-widescreen) { @content; }
  }
  @if $size == desktop {
    @media (min-width: $breakpoint-desktop) { @content; }
  }
  @if $size == tablet {
    @media (min-width: $breakpoint-tablet) { @content; }
  }
}

@mixin media-query-down($size) {
  @if $size == desktop {
    @media (max-width: $breakpoint-desktop - 1px) { @content; }
  }
  @if $size == tablet {
    @media (max-width: $breakpoint-tablet - 1px) { @content; }
  }
  @if $size == mobile {
    @media (max-width: $breakpoint-mobile - 1px) { @content; }
  }
}

@mixin box-shadow($variant: '') {
  box-shadow: 0 1px 18px $color-shadow;
  @if $variant == highlight {
    box-shadow: 0 1px 24px $color-shadow--highlight;
  }
  transition: box-shadow $transition-time;
}

@mixin mobile-scroll() {
  @include media-query-down(tablet) {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@mixin text-link() {
  color: $color-blue-1;
  cursor: pointer;
  border-bottom: 1px solid rgba($color-blue-1, .5);

  &:hover {
    border-bottom-color: $color-blue-1;
  }
}
