$api-example-padding: $space-m;

.api-example {
  @include box-shadow;
  padding: $api-example-padding $api-example-padding 0;
  margin-bottom: $space-l;
  border-radius: 3 * $rounded-corners;

  @include media-query(widescreen) {
    $shift: '50% + #{$page-sidebar-width + $space-l} - 50vw';
    width: calc(100% + 2 * #{$api-example-padding} - 2 * (#{$shift}));
    margin-right: calc(#{$shift});
  }

  @include media-query(ultrawide) {
    $shift: '50% + #{$page-sidebar-width + $space-l - $breakpoint-ultrawide / 2}';
    width: calc(100% + 2 * #{$api-example-padding} - 2 * (#{$shift}));
    margin-right: calc(#{$shift});
  }

  &__title {
    padding-bottom: $space-m;
    margin-top: 0;
    border-bottom: 1px solid $color-grey-6;
  }

  table,
  .chroma {
    margin-top: 0;
    margin-bottom: $space-m;
  }

  td {
    &:first-child {
      white-space: nowrap;
      width: 20%;
    }

    &:last-child {
      width: 60%;
    }
  }

  &__description,
  p {
    @extend %font-s-xs;
  }

  &__response-code {
    display: none;
    max-height: $space-m;
    overflow: hidden;

    &.show {
      display: block;
      max-height: none;
    }
  }

  &--no-title {
    h3 {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &--show-response-code {
    .api-example {
      &__response-code {
        display: block;
        max-height: none;
      }
    }
  }

  &--beta {
    outline: 2px solid $color-yellow-2;
    position: relative;

    &::after {
      @extend %font-xxs;
      content: 'Beta';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-color: $color-yellow-2;
      text-transform: uppercase;
      padding: 0 $space-s 0 $space-s + 2px; 
      border-radius: 0 8px 0 12px;
    }
  }

  &:not(.api-example--show-response-code) {
    .response {
      @extend .response--clickable;
    }
  }
}
