$api-example-padding: $space-m;

.api-example {
  @include explode-to-max-width;
  @include box-shadow;
  padding: $api-example-padding $api-example-padding 0;
  margin-bottom: $space-l;
  border-radius: 3 * $rounded-corners;
  overflow: hidden;

  &__title {
    margin-bottom: $space-m;
    border-bottom: 1px solid $color-grey-6;

    .anchor {
      top: 15px;
      left: -17px;
    }

    h2 {
      margin-top: 0;
    }
  }

  .highlight {
    @extend .highlight--fit-parent;
  }

  table {
    @extend .table--fit-parent;
  }

  table,
  .chroma {
    margin-top: 0;
    margin-bottom: $space-m;
  }

  td {
    &:first-child {
      hyphens: auto;
      width: 20%;
    }

    &:last-child {
      hyphens: auto;
      width: 60%;
    }

    p {
      font-size: 1em;
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__description,
  p {
    @extend %font-s-xs;
  }

  &__curl {
    margin-top: $space-m;

    .chroma {
      margin-bottom: 0;
    }
  }

  &__response-entry {
    margin-bottom: $space-m;
  }

  &--no-title {
    h4 {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &--danger,
  &--warning {
    border: 2px solid $color-red-2;
    position: relative;

    &::after {
      @extend %font-xxs;
      content: attr(data-channel);
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-color: $color-red-2;
      text-transform: uppercase;
      padding: 0 $space-s 0 $space-s + 2px;
      border-radius: 0 8px 0 12px;
    }
  }

  &--danger {
    border: 2px solid $color-red-2;

    &::after {
      background-color: $color-red-2;
    }

    blockquote {
      background-color: $color-red-2;
    }
  }

  &--warning {
    border: 2px solid $color-yellow-2;

    &::after {
      background-color: $color-yellow-2;
    }

    blockquote {
      background-color: $color-yellow-2;
    }
  }
}
