.article {
  margin-right: 0;
  word-break: break-word;

  @include media-query(widescreen) {
    max-width: 620px;
  }

  @include media-query(ultrawide) {
    max-width: 750px;
  }

  &__title {
    position: relative;
    margin-top: 0;

    &:first-child {
      margin-top: -5px; // -5px to make up for line-height related superfluous space on top of title
    }
  }

  &__content {
    a {
      &:not([class]) {
        @include text-link();
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }

    hr {
      border-bottom: 4px solid $color-grey-6;
    }
  }
}
