.breadcrumbs {
  @extend %font-s-xs;
  display: none;
  gap: $space-xs;
  max-width: 100%;
  padding: 0;
  margin: 3px 0 $space-m 0; // 3px top margin to align nicely with navi and TOC
  overflow: auto;
  font-weight: 500;
  list-style: none;
  text-transform: uppercase;

  @include media-query(tablet) {
    display: flex;
  }

  li {
    display: flex;
    flex-shrink: 0;
    gap: $space-xs;

    &::before {
      content: '/';
      color: $color-blue-2;
    }

    &:first-child::before {
      content: '';
      display: none;
    }
  }

  a {
    color: $color-blue-1;
  }
}
