.breadcrumbs {
  @extend %font-s-xs;
  font-weight: 500;
  padding: 0;
  margin: 0 0 $space-m 0;
  display: flex;
  gap: $space-xs;
  list-style: none;
  text-transform: uppercase;

  li {
    display: flex;
    gap: $space-xs;

    &::before {
      content: '/';
      color: $color-blue-2;
    }

    &:first-child::before {
      content: '';
    }
  }

  a {
    color: $color-blue-1;
  }
}
