.button {
  display: flex;
  justify-content: center;
  margin: 0;
  color: $color-grey-2;
  border: 1px solid $color-grey-6;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
  user-select: none;
  white-space: nowrap;
  background-color: transparent;
  padding: 7px 13px;
  border-radius: $rounded-corners;
  transition: background-color $transition-time ease-in;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;

  &:hover {
    background-color: $color-grey-8;
    outline: none;
    border: 1px solid $color-grey-6;
  }

  &--small {
    padding: 4px 7px;
    font-size: 12px;
  }

  &--no-border {
    border: 0;

    &:hover {
      border: 0;
      background-color: transparent;
    }
  }

  &--edit {
    display: none;
    top: $space-s;
    left: -2.1 * $space-m;
    padding-right: $space-m;
    position: absolute;
    z-index: 1;
    color: $color-grey-4;

    &:hover {
      color: $color-black;
    }

    @include media-query(desktop) {
      h1:hover & {
        display: flex;
      }
    }

    @include media-query-down(desktop) {
      display: none;
    }
  }

  &--prev {
    @include ellipsis;
    width: 100%;

    .button {
      &__ascii {
        padding-right: $space-s;
      }
    }
  }

  &--next {
    @include ellipsis;
    width: 100%;

    .button {
      &__ascii {
        padding-left: $space-s;
      }
    }
  }
}

.copy-button {
  position: absolute;
  right: 1px;
  top: 1px;
  color: $color-grey-2;
  background: $color-white;
  padding: 6px 11px 3px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid $color-grey-6;
  border-left: 1px solid $color-grey-6;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  z-index: 1;

  &.copied {
    cursor: default;
  }

  &:not(.copied) {
    &:hover {
      background-color: $color-grey-9;
    }
  }
}
