.checkbox {
  display: flex;
  gap: $space-s;

  &__checkbox {
    flex-shrink: 0;
    -webkit-appearance: none;
    appearance: none;
    display: grid;
    place-content: center;
    width: 18px;
    height: 18px;
    margin: 3px 0 0;
    background-color: $color-white;
    color: $color-green-1;
    border: 1px solid $color-black;
    border-radius: 2px;
    vertical-align: text-bottom;
    cursor: pointer;
  
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      background-color: currentColor;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }
  
    &:checked::before {
      transform: scale(1);
    }
  }
  
  &__label {
    @extend %font-forms;
    text-align: left;
    font-weight: normal;
    color: $color-black;
  }

  &--white {
    .checkbox {
      &__checkbox {
        background-color: transparent;
        border-color: $color-white;
        color: $color-white;
      }

      &__label {
        color: $color-white;
      }
    }
  }
}
