.code-teaser {
  @include box-shadow;
  display: inline-flex;
  max-width: 100%;
  align-items: center;
  border-radius: $rounded-corners;
  overflow: hidden;

  &__interaction {
    display: none;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: $space-m;
    height: 2 * $space-m;
    background-color: $color-white;
  }

  &__code {
    @extend %font-s-xs;
    min-width: 2 * $space-m;
    line-height: 2 * $space-m;
    padding: 0 $space-xs;
    text-align: center;
    color: $color-white;
    background-color: $color-grey-3;
  }
  
  &__name {
    @extend %font-s-xs;
    line-height: 2 * $space-m;
    padding: 0 $space-s;
    color: $color-black;
    background-color: $color-grey-6;
    white-space: nowrap;
  }

  &__endpoint {
    @extend %font-s-xs;
    line-height: 2 * $space-m;
    padding: 0 $space-s;
    color: $color-black;
    background-color: $color-white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__interaction + &__endpoint {
    border-left: 1px solid $color-grey-6;
  }

  &--error {
    .code-teaser {
      &__code {
        background-color: $color-red-1;
      }

      &__name {
        background-color: $color-red-2;
      }
    }
  }

  &--success {
    .code-teaser {
      &__code {
        background-color: $color-green-1;
      }

      &__name {
        background-color: $color-green-2;
      }
    }
  }

  &--with-interaction {
    cursor: pointer;
    user-select: none;

    &:hover {
      @include box-shadow(highlight);
    }

    .code-teaser {
      &__interaction {
        display: flex;
      }
    }
  }

  &--open {
    .arrow {
      @extend .arrow--down;
    }
  }
}
