.cols {
  @include media-query(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $space-m;
    width: 100%;
    margin-bottom: $space-l;
  }

  @include media-query(desktop) {
    width: calc(100vw - #{$page-sidebar-width + $space-m + $space-l});
  }

  @include media-query(widescreen) {
    width: calc(100vw - #{$page-sidebar-width + 2 * $space-l});
  }

  @include media-query(ultrawide) {
    width: #{$breakpoint-ultrawide - $page-sidebar-width - 2 * $space-l};
  }

  & > * {
    margin-bottom: $space-m;

    @include media-query(tablet) {
      grid-column: span 1;
      margin-bottom: 0;

      &:first-child:nth-last-child(2) {
        grid-column: span 2;
      }

      &:first-child:last-child {
        grid-column: span 3;
      }
    }
  }

  // special case: top section on landing page
  &:has(.illu-teaser:first-child):has(.tip:nth-child(2)):has(.tip:last-child) {
    @include media-query(tablet) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .illu-teaser {
      grid-column: span 2;
    }

    .tip {
      grid-column: span 1;
    }
  }
}
