.feature-info {
  margin-top: $space-m;
  margin-bottom: $space-m;
}

.feature-info-pill {
  display: inline-block;
  border-radius: $rounded-corners;

  @extend %font-s-xs;
  background-color: $color-cyan-2;
}

.feature-info-pill__header {
  position: relative;
  display: inline-block;
  border-top-left-radius: $rounded-corners;
  border-bottom-left-radius: $rounded-corners;
  text-transform: capitalize;
  padding: $space-xs $space-s;
  color: $color-white;
  background-color: $color-cyan-1;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: $space-xs solid transparent;
    border-left: $space-xs solid $color-cyan-1;
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
}

.feature-info-pill__content {
  display: inline-block;
  padding: $space-xs $space-s;
}

.feature-info-pill__header + .feature-info-pill__content {
  padding-left: $space-s;
}
