*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @extend %font-s;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: $color-white;
  color: $color-black;
  margin: 0;
  height: 100%;
  display: block;
}

em {
  color: $color-black;
  background-color: rgba($color-cyan-2, 0.4);
  padding-right: 0.2em;
  padding-left: 0.2em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-style: normal;
}

a {
  text-decoration: none;
}

b,
strong,
label {
  font-weight: 500;
}

textarea,
input[type='text'],
input[type='email'],
input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
  border-radius: 0;
}

:focus {
  outline: none;
}

::placeholder {
  color: $color-grey-4;
  opacity: 1;
}
