.github-repo {
  border: 1px solid $color-grey-5;
  border-radius: $rounded-corners;
  padding: $space-m;
  margin-bottom: $space-m;

  &__icon {
    width: 18px;
    height: 18px;
    vertical-align: middle;
  }

  &__link {
    padding-left: $space-xs;
    color: $color-blue-1;
  }

  &__desc {
    @extend %font-s-xs;
    padding-top: $space-s;
    margin-bottom: $space-s;
    color: $color-grey-2;
  }

  &__info {
    @extend %font-xxs;
    color: $color-grey-2;
    margin-bottom: 0;
  }

  &__lang-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid $color-yellow-1;
    border-radius: 50%;
    background-color: $color-yellow-2;
  }
}
