.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  max-width: $breakpoint-ultrawide;
  margin: 0 auto;
  position: fixed;
  border-bottom: 1px solid $color-grey-6;
  padding: 0 $space-m;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: auto;
  background-color: $color-white;
  transition: top $transition-time;

  .is-scrolled & {
    @include media-query(desktop) {
      top: -$header-height;
    }
  }

  &__left {
    display: flex;
    align-items: center;

    @include media-query(tablet) {
      width: 5 * $space-l;
    }
  }

  &__burger {
    width: 1.5 * $space-m;
    height: 1.5 * $space-m;
    margin-right: $space-m;
    cursor: pointer;
    user-select: none;

    @include media-query(desktop) {
      display: none;
    }
  }

  &__brand {
    user-select: none;
  }

  &__right {
    width: 3 * $space-l;

    @include media-query(tablet) {
      width: 5 * $space-l;
    }
  }
}
