.history {
  margin-bottom: $space-m;

  &.explode {
    @include explode-to-max-width;
  }
}

.history__content {
  margin-top: $space-m;
  padding: $space-m;
  background-color: $color-grey-8;
  border-radius: $rounded-corners;

  table {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
}