li-warning {
  display: block;
  padding: 10px;
  margin-bottom: 20px;

  border: 1px solid rgb(221, 205, 91);
  border-radius: 3px;
  color: #57606a;
  background-color: $color-yellow-2; // #f1e05a
  font-size: 14px;
}
