li-warning {
  @extend %font-xs;
  display: block;
  padding: $space-s;
  margin-bottom: $space-m;
  border: 1px solid $color-yellow-1;
  border-radius: $rounded-corners;
  color: $color-black;
  background-color: $color-yellow-2;
}
