$list-number-font-factor: .8;
$list-number-circle-size: 2em;
$list-number-gap: 1.5 * $space-s;

.article {
  &__content {
    ul {
      padding-left: 2 * $space-s;
      margin-top: $space-m;
      margin-bottom: $space-m; 

      li {
        margin-bottom: $space-m;
      }
    }

    & > ul {
      margin-top: $space-l;
      margin-bottom: $space-l; 
    }

    ol {
      padding-left: calc(#{$list-number-circle-size} + #{$list-number-font-factor} * #{$list-number-gap});
      margin-top: $space-m;
      margin-bottom: $space-m; 
      list-style: none;

      @for $i from 1 through 100 {
        &[start='#{$i}'] {
          counter-reset: listCounter $i - 1;
        }
      }

      li {
        counter-increment: listCounter;
        position: relative;
        margin-bottom: $space-m;

        &:before {
          content: counter(listCounter);
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: $list-number-circle-size;
          height: $list-number-circle-size;
          position: absolute;
          top: -.2em;
          left: calc(-#{$list-number-circle-size} - #{$list-number-gap});
          padding-top: .1em;
          padding-left: .05em;
          background: $color-black;
          border-radius: 100%;
          color: $color-white;
          font-size: $list-number-font-factor * 1em;
        }
      }
    }

    & > ol {
      margin-top: $space-l;
      margin-bottom: $space-l; 
    }
  }
}
