$list-number-font-factor: 0.8;
$list-number-circle-size: 2em;
$list-number-gap: 1.5 * $space-s;

.article {
  &__content {
    ul {
      padding-left: 2 * $space-s;
      margin-top: $space-m;
      margin-bottom: $space-m;

      li {
        margin-bottom: $space-xs;
      }
    }

    ol {
      padding-left: calc(
        #{$list-number-circle-size} + #{$list-number-font-factor} * #{$list-number-gap}
      );
      margin-top: $space-m;
      margin-bottom: $space-m;
      list-style: none;

      > li {
        counter-increment: listCounter1;
        position: relative;
        margin-bottom: $space-m;

        &::before {
          content: counter(listCounter1);
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: $list-number-circle-size;
          height: $list-number-circle-size;
          position: absolute;
          top: -0.2em;
          left: calc(-#{$list-number-circle-size} - #{$list-number-gap});
          padding-top: 0.1em;
          padding-left: 0.05em;
          background: $color-black;
          border-radius: 100%;
          color: $color-white;
          font-size: $list-number-font-factor * 1em;
        }

        ol {
          > li {
            counter-increment: listCounter2;

            &::before {
              content: counter(listCounter2);
            }
          }
        }
      }
    }

    > ol {
      margin-top: $space-l;
      margin-bottom: $space-l;
    }
  }
}
