.logo {
  &--brand-desktop {
    width: 1.5 * $space-xl;
    margin-top: $space-s;

    @include media-query(tablet) {
      display: none;
    }
  }

  &--brand-tablet {
    display: none;
    margin-top: $space-xs;
    height: 1.75 * $space-m;

    @include media-query(tablet) {
      display: initial;
    }
  }
}
