.logo {
  &--brand-desktop {
    display: none;
    width: 1.5 * $space-xl;
    margin-top: 8px;

    @include media-query(desktop) {
      display: initial;
    }
  }

  &--brand-mobile {
    margin-top: $space-xs;
    height: 1.75 * $space-m;

    @include media-query(desktop) {
      display: none;
    }
  }
}
