.menu-search {
  position: relative;

  &__icon {
    fill: $color-grey-3;
    position: absolute;
    left: 0;
    top: 11px;
    height: 22px;

    &--cancel {
      right: 0;
      left: auto;
      fill: $color-grey-3;
      visibility: hidden;
      position: absolute;
      cursor: pointer;
  
      &.visible {
        visibility: visible;
      }
    }
  }

  &__field {
    @extend %font-forms;
    width: 100%;
    height: 45px;
    padding: $space-s 3 * $space-s;
    border: 0;
    border-bottom: 1px solid $color-grey-5;
    border-radius: 0;
    transition: border-color $transition-time;
    color: $color-black;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
      border-color: $color-black;
    }
  }
}
