.page {
  display: flex;
  justify-content: stretch;
  width: 100vw;
  max-width: $breakpoint-ultrawide;
  margin-top: $header-height;
  margin-right: auto;
  margin-left: auto;

  &__navigation {
    @include mobile-scroll();
    position: fixed;
    top: $header-height;
    bottom: 0;
    flex-grow: 0;
    flex-shrink: 0;
    width: $page-sidebar-width;
    padding-bottom: $space-l;
    padding-top: $space-l;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    transition: top $transition-time;

    @include media-query(desktop) {
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .is-scrolled & {
      top: 0;
    }
  }

  &__content {
    @include mobile-scroll();
    @include box-shadow();
    position: fixed;
    width: 100vw;
    top: $header-height;
    bottom: 0;
    left: 0;
    padding: $space-l + 3px $space-m 0;
    overflow-y: auto;
    transition: left $transition-time ease;
    background-color: $color-white;

    @include media-query(desktop) {
      position: static;
      overflow: visible;
      width: 100%;
      padding-right: $space-m;
      padding-left: $page-sidebar-width + $space-l;
      box-shadow: none;
    }

    @include media-query(widescreen) {
      display: flex;
      flex-direction: column;
      align-items: left;
      padding-right: $space-l;
    }

    .show-navigation & {
      left: $page-sidebar-width;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: transparent;
      }

      @include media-query(desktop) {
        left: initial;

        &::after {
          display: none;
        }
      }
    }
  }

  &__toc {
    display: none;
    position: fixed;
    top: $header-height;
    right: $space-m;
    bottom: 0;
    width: $toc-width;
    padding-top: $space-l;
    padding-bottom: $space-l;
    overflow-y: auto;
    transition: top $transition-time;

    .is-scrolled & {
      top: 0;
    }

    @include media-query(widescreen) {
      display: block;
    }

    @include media-query(ultrawide) {
      right: calc((100vw - #{$breakpoint-ultrawide}) / 2 + #{$space-m});
    }
  }
}
