.page {
  display: flex;
  justify-content: stretch;
  position: fixed;
  top: $header-height;
  bottom: 0;
  width: 100vw;
  max-width: 1400px;
  margin-left: 50%;
  transform: translateX(-50%);

  &.show-sidebar {
    .page {
      &__content {
        left: $page-sidebar-width;

        @include media-query(desktop) {
          left: initial;
        }
      }
    }
  }

  &__sidebar {
    @include mobile-scroll();
    position: fixed;
    top: 0;
    bottom: 0;
    flex-grow: 0;
    flex-shrink: 0;
    width: $page-sidebar-width;
    padding-bottom: 3rem;
    padding-top: $space-l;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;

    @include media-query(desktop) {
      position: static;
      top: initial;
      bottom: initial;
    }
  }

  &__content {
    @include box-shadow();
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    left: 0;
    padding: $space-l + 3px $space-m;
    transition: left $transition-time ease;
    background-color: $color-white;
    overflow-y: auto;

    @include media-query(desktop) {
      position: static;
      width: 100%;
      padding-right: $space-l;
      padding-left: $space-l;
      box-shadow: none;
    }

    @include media-query(widescreen) {
      padding-right: calc(#{$space-xl} + (100vw - 100%) / 2);
      padding-left: $space-xl;
      margin-right: calc((100% - 100vw) / 2);
    }
  }
}
