.pagination {
  display: flex;
  flex-wrap: wrap;
  padding-top: $space-m;
  margin-top: $space-m;
  margin-bottom: $space-l;
  border-top: 1px solid $color-grey-6;

  @include media-query(desktop) {
    flex-wrap: nowrap;
    gap: $space-m;
  }

  &__prev,
  &__next {
    width: 100%;
    margin-bottom: $space-m;

    @include media-query(desktop) {
      flex-basis: 50%;
      max-width: calc(50% - #{$space-m} / 2);
      margin-bottom: 0;
    }
  }
}
