.pill {
  @include ellipsis;
  @extend %font-s-xs;
  padding: 4px $space-s;
  color: $color-black;
  text-align: center;
  background-color: $color-grey-7;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;

  transition: outline $transition-time ease-in;
  outline: 1px solid transparent;

  &:hover {
    outline-color: $color-black;
  }

  &.is-active {
    background-color: $color-green-2;
  }

  &--small {
    @extend %font-xs;
    padding: 2px $space-s;
    border-radius: 11px;
  }
}
