.search-results-document {
  @extend %font-s-xs;
  padding: 1.5 * $space-s;

  &:not(:last-child) {
    border-bottom: 1px solid $color-grey-6;
  }

  &__title {
    display: block;
    font-weight: 500;
    color: $color-black;
  }

  &.is-focussed {
    background-color: $color-grey-8;
  }
}
