.section-label {
  @extend %font-xs;
  line-height: calc(15px * 1.45);
  display: block;
  padding: $space-s $space-m;
  margin: 2 * $space-m 0 0 0;
  text-transform: uppercase;
  color: $color-grey-4;

  @include media-query(desktop) {
    padding-top: $space-xs;
    padding-bottom: $space-xs;
  }

  &.active {
    color: $color-cyan-1;
    background-color: rgba($color-cyan-2, 0.4);
  }

  &--table-of-contents {
    content: 'Contents';
    display: block;
    padding: 0;
    margin-top: $space-s;
  }
}
