.section-teaser {
  flex-grow: 1;
  margin: $space-s;
  width: 100%;
  min-height: $space-xl;
  cursor: pointer;

  @include media-query(tablet) {
    width: 40%;
    max-width: calc(50% - #{2 * $space-s});
  }

  &__link {
    @include box-shadow();
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 3 * $rounded-corners;
    background-color: $color-white;
    overflow: hidden;

    &:hover {
      @include box-shadow(highlight);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    height: 2 * $space-m;
    padding: 0 $space-m;
    color: $color-grey-4;
    font-size: $space-m;
    background-color: $color-grey-8;
  }

  &__image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $space-m;
    height: $space-m;
    width: $space-m;
    filter: saturate(0)
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $space-xs;
    padding: $space-m;
  }

  &__title {
    margin: 0;
    color: $color-green-1;
  }

  &__text {
    @extend %font-s-xs;
    margin-top: $space-s;
    margin-bottom: 0;
    color: $color-grey-2;
  }

  ul {
    @extend %font-s-xs;
    padding-left: 2 * $space-s;

    li {
      margin-bottom: $space-xs;
    }
  }
}

.section-teaser--guides {

  .section-teaser {
    &__link {
      position: relative;
      background-color: rgba($color-blue-2, .5);
      border: 0;
      justify-content: flex-start;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid $color-blue-2;
        border-radius: 3 * $rounded-corners;
        pointer-events: none;
        opacity: 0;
        transition: opacity $transition-time, border $transition-time;
      }

      &:hover {
        @include box-shadow(highlight);

        &::after {
          border: 5px solid $color-blue-2;
          opacity: 1;
        }
      }
    }

    &__title {
      color: $color-black;
    }
  }

  p {
    margin: 0;
    color: rgba($color-black, 0.9);
  }

  ul {
    color: rgba($color-black, 0.9);
  }

  li {
    line-height: 1.5;
  }
}
