.section-label {
  @extend %font-xs;
  padding: $space-xs $space-m;
  margin: 2 * $space-m 0 $space-xs 0;
  text-transform: uppercase;
  color: $color-grey-4;

  @include media-query(desktop) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--table-of-contents {
    content: 'Contents';
    display: block;
    padding: 0;
    margin-top: $space-s;
  }
}
