.section-teasers {
  display: flex;
  flex-wrap: wrap;
  gap: $space-m;
  justify-content: space-between;

  &--wide {
    @include media-query(desktop) {
      width: calc(100vw - #{$page-sidebar-width + $space-m + $space-l});
    }
  
    @include media-query(widescreen) {
      width: calc(100vw - #{$page-sidebar-width + 2 * $space-l});
    }
  
    @include media-query(ultrawide) {
      width: #{$breakpoint-ultrawide - $page-sidebar-width - 2 * $space-l};
    }
  }
}
