.section-teaser {
  flex-grow: 1;
  margin: $space-s;
  width: 100%;
  min-height: $space-xl;
  cursor: pointer;

  @include media-query(tablet) {
    width: 40%;
    max-width: calc(50% - #{2 * $space-s});
  }

  &__link {
    @include box-shadow();
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: $space-m;
    border: 1px solid transparent;
    border-radius: 3 * $rounded-corners;
    background-color: $color-white;
    transition: border-color $transition-time;

    &:hover {
      @include box-shadow(highlight);
      border-color: $color-cyan-1;
    }
  }

  &__title {
    margin: 0;
    color: $color-cyan-1;
  }

  &__text {
    @extend %font-s-xs;
    margin-top: $space-s;
    margin-bottom: 0;
    color: $color-grey-2;
  }

  h3 {
    margin-bottom: 5px;
  }

  ul {
    @extend %font-s-xs;
    margin: 0;
    color: darken($color-cyan-1, 5%);
    padding: 0;
    list-style-position: inside;
  }

}

.section-teaser--guides {

  .section-teaser {
    &__link {
      position: relative;
      background-color: rgba($color-blue-2, .5);
      border: 0;
      justify-content: flex-start;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid $color-blue-2;
        border-radius: 3 * $rounded-corners;
        pointer-events: none;
        opacity: 0;
        transition: opacity $transition-time, border $transition-time;
      }

      &:hover {
        @include box-shadow(highlight);

        &::after {
          border: 5px solid $color-blue-2;
          opacity: 1;
        }
      }
    }

    &__title {
      color: $color-black;
    }
  }

  p {
    margin: 0;
    color: rgba($color-black, 0.9);
  }

  ul {
    color: rgba($color-black, 0.9);
  }

  li {
    line-height: 1.5;
  }
}
