.section-teaser {
  flex-grow: 1;
  margin: $space-s;
  width: 100%;
  cursor: pointer;

  @include media-query(tablet) {
    width: 40%;
  }

  &__link {
    @include box-shadow();
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: $space-m;
    color: $color-black;
    border: 1px solid transparent;
    border-radius: $rounded-corners;
    background-color: $color-white;

    &:hover {
      @include box-shadow(highlight);
      color: $color-cyan-1;
      border-color: $color-cyan-1;
    }
  }

  &__title {
    margin: 0;
  }

  &__text {
    margin-top: $space-s;
    margin-bottom: 0;
  }
}
