#TableOfContents { // scss-lint:disable SelectorFormat
  ul {
    li {
      a {
        @extend %font-s-xs;
        display: block;
        padding: $space-xs 0;
        color: inherit;
      }
    }
  }
}

.page__toc {
  #TableOfContents { // scss-lint:disable SelectorFormat
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        ul { // scss-lint:disable SelectorDepth
          list-style-type: none;
          padding: 0;
          margin-left: 14px;
        }

        // this gets rid of empty toc hierarchy levels
        & > ul:first-child:last-child {
          margin-left: 0;
        }
      }
    }

    > ul::before {
      @extend .section-label;
      @extend .section-label--table-of-contents;
    }
  }
}
