.table,
table {
  @include explode-to-max-width;
  width: 100%;
  margin: $space-l 0;
  border-spacing: 0;
  border-collapse: collapse;

  &--fit-parent {
    width: 100%;
    margin-right: 0;
  }
}

thead {
  border-bottom: 1px solid $color-black;
  font-weight: 500;
}

tbody {
  font-weight: 400;
}

tr:not(:last-child) {
  border-bottom: 1px solid $color-grey-6;
}

th {
  font-weight: 500;
}

th,
td {
  @extend %font-xs;
  min-width: $space-l;
  padding: $space-xs;
  text-align: left;
  vertical-align: top;
  word-break: initial;
}
