.tag {
  @extend %font-xs;
  display: inline-flex;
  background-color: $color-grey-8;
  padding: 2px $space-xs;
  border: 1px solid $color-grey-6;
  color: $color-grey-3;

  &--spaced {
    margin-right: $space-xs;
    margin-bottom: $space-xs;
  }
}
