.teaser-and-code {
  &__code {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    opacity: 0;

    transition:
      height 1.5 * $transition-time ease,
      margin-top 1.5 * $transition-time ease,
      opacity 1.5 * $transition-time ease;

    &.show {
      height: auto;
      margin-top: $space-m;
      opacity: 1;
    }
  }

  .chroma {
    margin-bottom: 0;
  }
}
