.text-button {
  @extend %font-forms;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0 $space-s;
  height: 3.5 * $space-s;
  min-width: 3 * $space-s;
  line-height: 3.5 * $space-s;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: .04em;
  color: $color-green-1;
  border: 1px solid $color-green-1;
  box-sizing: border-box;
  vertical-align: 0;
  border-radius: $rounded-corners / 2;
  cursor: pointer;
  transition: color $transition-time, border-color $transition-time, background-color $transition-time;

  &:hover {
    color: $color-black;
    border-color: $color-black;
  }
}

.text-button--large {
  &.text-button {
    @extend %font-forms;
    padding: $space-xs 1.5 * $space-s;
    height: 2.25 * $space-m;
    line-height: 2.25 * $space-m - 2 * $space-xs;
    font-weight: 500;
  }
}

.text-button--white {
  mix-blend-mode: screen;
  color: $color-white;
  border-color: $color-white;
  background-color: transparent;

  &:hover {
    background: $color-white;
    border-color: $color-white;
    color: $color-black;
  }
}
