.topic {
  a {
    @extend %font-s-xs;
    color: inherit;
    text-decoration: none;
    display: block;
    position: relative;
    padding: $space-s 14px $space-s calc(var(--menu-level, 1) * 14px + 8px);
    cursor: pointer;

    @include media-query(desktop) {
      padding-top: $space-xs;
      padding-bottom: $space-xs;
    }

    &:hover {
      background-color: rgba($color-grey-5, 0.15);
      text-decoration: none;
    }
  }

  &.active {
    > a {
      color: $color-cyan-1;
      background-color: rgba($color-cyan-2, 0.4);

      .arrow {
        @extend .arrow--up;
      }
    }
  }

  &.open {
    > a .arrow {
      @extend .arrow--up;
    }
  }
}
