.warning {
  @extend %font-s;
  display: block;
  padding: $space-m;
  margin-bottom: $space-m;
  border-radius: $rounded-corners;
  color: $color-black;
  background-color: $color-yellow-2;

  &__icon {
    width: 18px;
    height: 18px;
    vertical-align: text-top;
    margin-right: $space-xs;
  }
}
